:root{
    --azul-principal: #2C3EE2;
    --branco-secundario: #F9F9F9; 
    --botao-azul: #167BF7; 
    --cor-de-fundo: #00030C; 
    --botao-transparente: ;
    --fonte-principal: 'PT SerifStatic';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-secundario);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font: weight 400px;
}

.principal{
    background-image: url(img.1/);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 2em;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container__botao{
    background-color:var(--botao-azul) ;
    border-radius: 10px;
    padding: 1em;
    color:var(--branco-secundario) ;
    display: block;
    text-decoration: none;
}

.botao__secundario{
    background-color: transparent;
    border: 5px solid var(--botao-transparente);
       border-radius: 10px;
    padding: 1em;
    color:var(--branco-secundario) ;
    display: block;
    text-decoration: none;
    margin: 1% 0 0 0;
}

        .container_titulo{
            font-size: 28px;
            font-weight: 700;
        }

        .container__imagem{
            margin: 2em 2 2em 2;
        }